<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <!-- 详细配置请参考文档https://hibernate.net.cn/column/5.html -->

    <session-factory>
        <!-- 数据库连接配置 -->
        <!-- 以MySQL数据为例 -->
        <!-- 指定方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- 指定数据库驱动 -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- 连接数据库账户名称 -->
        <property name="hibernate.connection.username">username</property>
        <!-- 连接数据库密码 -->
        <property name="hibernate.connection.password">password</property>
        <!-- 连接的绝对路径 -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/test
        </property>

        <!-- 启动hibernate时检查表，如表不存在，则创建；如表结构不一致，则更新表结构 -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- C3P0连接池设定 -->
        <!-- 使用c3po连接池 配置连接池提供的供应商 -->
        <property name="connection.provider_class">
            org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>
        <!--在连接池中可用的数据库连接的最少数目 -->
        <property name="c3p0.min_size">5</property>
        <!--在连接池中所有数据库连接的最大数目 -->
        <property name="c3p0.max_size">20</property>
        <!--设定数据库连接的过期时间,以毫秒为单位,
        如果连接池中的某个数据库连接处于空闲状态的时间超过了timeout时间,
        就会从连接池中清除 -->
        <property name="c3p0.timeout">120</property>
        <!--每3000秒检查所有连接池中的空闲连接 以秒为单位 -->
        <property name="c3p0.idle_test_period">3000</property>

        <!-- 包扫描配置 -->
        <property name="hibernate.archive.autodetection">class, hbm</property>
        <property name="hibernate.packageToScan">com.ecnu.entity</property>

        <!-- 配置本地事务 -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- 调试相关配置 -->
        <!-- 运行过程是否展示sql命令代码(自动生成) -->
        <property name="show_sql">true</property>
        <!-- 是否规范输出sql代码 -->
        <property name="format_sql">false</property>
        <!-- 实体映射相关配置 -->
        <mapping resource="com/ecnu/example/entity/Fake.hbm.xml"/>
        <mapping resource="com/ecnu/example/entity/FakeWithTs.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
